.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 531px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 37px auto 0 -11px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 494px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 11px;
}

.u-section-1 .u-image-1 {
  width: 312px;
  height: 453px;
  object-position: 50% 0%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 494px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 64px 225px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 436px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }
}